<!-- <header>
    <main>
        <button data-header="home" class="active" onmouseenter="blurBackground()" onmouseleave="unBlurBackground()"
            onclick="location='#/1'">
            <span class="nav-link">Home</span>
        </button>
        <button data-header="about-me-new" onmouseenter="blurBackground()" onmouseleave="unBlurBackground()"
            onclick="location='#/2'">
            <span class="nav-link">About me</span>
        </button>
        <button data-header="contact" onmouseenter="blurBackground()" onmouseleave="unBlurBackground()"
            onclick="location='#/3'">
            <span class="nav-link">Contact</span>
        </button>
        <button onmouseenter="blurBackground()" onmouseleave="unBlurBackground()">
            <span class="nav-link">Resume</span>
        </button>
    </main>
</header> -->

<div class="cursor cursor--large" #cursorLarge></div>
<div class="cursor cursor--small" #cursorSmall></div>

<div class="cursor cursor--small" *ngFor="let f of [].constructor(followerCount); let r = index" #cursorFollower></div>